# --- General ---
.DS_Store
*.log
*.tmp

# --- Java / Gradle / Python ---
.gradle
build/
__pycache__
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Virtual environment
venv/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Coverage / test reports
.python-version
.coverage
.coverage.*
htmlcov/
coverage.xml